.header {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;
  align-items: center;
  backdrop-filter: blur(8px);
}

@supports not (backdrop-filter: blur(8px)) {
  .header {
    background: var(--gray50);
  }
  .header button {
    margin: 0 5px;
  }
  .header > * {
    margin: 0 0.5rem;
  }
}

@supports not (display) {
  .navigation-buttons-container {
    margin: 0;
  }
  .navigation button:disabled {
    margin: 0 0.5rem;
  }
  .menuIten a {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  .menuIten a > * {
    margin-left: 10px;
  }
  .list {
    margin: 0;
    padding: 0 10px;
  }
  .list-content > * {
    margin: 0.2rem;
  }
  .playerControls {
    margin: 0 0.25rem;
  }
  .playerControls-buttons {
    margin-bottom: 2px;
  }
  .playerPlayback {
    margin: 0;
  }
  .playerPlayback > * {
    margin: 0 0.3rem;
  }

  .player {
    margin: 0 1.5rem;
  }
  .playlistB-details {
    margin: 0 0.5rem;
  }

  .playlistList-container {
    margin: 1rem 0;
  }
  .playlistList-content {
    margin: 1rem 0;
  }
  .playlistList-content a {
    margin-right: 1rem;
    box-sizing: border-box;
  }
  .playlistList-top {
    margin: 0;
  }
  .sidebar {
    margin: 1.5rem 0;
  }
  .page-block {
    margin: 0 2rem;
  }
}
