@import "./playlist-list.css";
@import "./search.css";
@import "./navigation.css";
@import "./header.css";
@import "./sticky.css";

.page-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page .header {
  margin-block-end: 1rem;
}

.page .header {
  margin: 0 -1.5rem 1rem;
}
